<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492975335644-p3ca3pvkibucsvav2n4a83052gt7dhsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492975335644-p3ca3pvkibucsvav2n4a83052gt7dhsd</string>
	<key>API_KEY</key>
	<string>AIzaSyAixLFmVYPX6v-cq-iKyCHtA_rG_QWLzWY</string>
	<key>GCM_SENDER_ID</key>
	<string>492975335644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.mkm.vinologie</string>
	<key>PROJECT_ID</key>
	<string>vinologie-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vinologie-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492975335644:ios:cf60327ef611eceb</string>
	<key>DATABASE_URL</key>
	<string>https://vinologie-app.firebaseio.com</string>
</dict>
</plist>